.back-img{
    background-image: url(img/back.png);
    background-size: cover;
    height: 45vh;
    width: 100%;
    background-position: 20%;
    background-repeat: no-repeat;
   

}
.back-img h1{
    font-family: 'Changa' sans-serif;
    margin: 0;
   font-size: 3.3rem;
   opacity: 0.8;
   color:rgb(255, 255, 255);
}
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
     "a a a a"
     "v v m m"
     "w w c c"
     ;
    

}

.about{
grid-area: a;
}
.vision{
grid-area: v;
}
.message{
grid-area: m;
}
.why-us{
grid-area: w;
}
.why-us ul{
text-align: right;
}
.contact{
 grid-area: c;
}
.content > div {
  background: #ffffff;
  border-radius: 12px;
  margin: 3vh;
  padding: 1vh ;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.content h2{
  color: #b95b02;
margin: 0;
}
.contact p{
    margin: 0;
}
p,ul{
    line-height: 5vh;
}
.contact .social {
  /* margin-top: 20px; */
  display: flex;
  justify-content: center; 
  gap: 3vh; 
}

.contact .social img {
  width: 7vh; 
  height: 7vh;
  transition: transform 0.3s;
}

/* .contact .social img:hover {
  transform: scale(1.2);
  cursor: pointer;
} */
